# Dupliquez ce fichier en `.env`, puis adaptez les valeurs à votre environnement local.
CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'

# Base de données locale
database.default.hostname = localhost
database.default.database = skillrooms
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
